/* .colImg {
  margin-top: -70px;
}

.colAbout {
  margin-top: -70px;
} */

.box {
  width: 400px;
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgMyPhoto {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 3px 3px gray, -1em 0 0.4em grey;
  object-fit: contain;
  object-position: center center;
}

#about {
  height: 1000px;
  margin-bottom: 300px;
}
