.hero {
    background-image: url("https://fondosmil.com/fondo/2255.jpg");
    width: 100%;
    height: 92.3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.presentacion {
    height: 700px;
    display: flex;
}

.imgMyPhoto{
  width: 400px;
  height: 400px;
  border-radius: 50px;
  margin-top: 150px;
  box-shadow: 3px 3px gray, -1em 0 .4em grey;
}